input{
  padding: 7px 10px;
  border-radius: 4px;
  border-width: 1px;
  margin: 5px 5px 5px 0px;
}

.login-button, .signup-button{
margin-top: 10px;
margin-right: 5px;
padding: 10px 15px;
background-color: rgb( 0, 123, 255);
color: white;
border: none;
border-radius: 5px;
}